{% load i18n %}

<!DOCTYPE html>
<html lang="{{ get_current_language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Travel Expense Tracker{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        {% if LANGUAGE_CODE == 'fa' %}
            body {
                direction: rtl;
                text-align: right;
            }
        {% endif %}
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{% translate "Travel Expense Tracker" %}</a>
        </nav>
    </div>

    {% block content %}{% endblock %}
</body>
</html>
