
{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">{% translate "Welcome to Travel Expense Tracker" %}</h1>
    <p class="lead">{% translate "Track your travel expenses, share costs with friends, and manage your trips easily!" %}</p>
    <hr class="my-4">
    <p>{% translate "Get started now and make your travel planning easier!" %}</p>
    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" role="button">{% translate "Sign Up" %}</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'login' %}" role="button">{% translate "Login" %}</a>
</div>
{% endblock %}
